.front-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    color: rgba(0,0,0, 0.5)
  }

.front-button-container {
    display: flex;
    position:absolute;
    padding: 0.5rem;
    z-index: 1;
    width: 10rem;
    flex-direction: column;
}

.front-button-container > * {
    margin: 0.5rem !important;
    
}

